/* CSS style bits for Ubuntu developer guide */
/* Author: Dmitry Shachnev <mitya57@gmail.com>, 2012 */

.section li {
    list-style-type: disc;
    margin-left: 25px;
    margin-bottom: 5px;
}

.section ul, .highlight {
    margin-top: 5px;
    margin-bottom: 10px;
}

.section h3 {
    font-weight: bold;
}

.admonition {
    padding-top: 5px;
    padding-left: 10px;
    margin-bottom: 10px;
    border: 1px solid #da8;
    background-color: #efd;
    border-radius: 3px;
}

.admonition-title {
    font-weight: bold;
    font-size: 110%;
}
