/* CSS style bits for Ubuntu developer guide */
/* Author: Dmitry Shachnev <mitya57@gmail.com>, 2012 */

.section li {
    list-style-type: disc;
    margin-left: 25px;
    margin-bottom: 5px;
}

.highlight {
    padding-bottom: 10px;
}
