/*
 * newstyle.css
 *
 * Base style for the LoCo Directory. This is an implementation
 * of the ( at the time of this writing ) new Ubuntu branding.
 *
 *  Author: Michael Hall      ( mhall119 )
 *  Author: Paul Tagliamonte ( paultag  )
 */

h1.centered {
    text-align: center;
}

a {
    color:      #DD4814;
}

a:visited {
    color:      #b12a10;
}

th.form-item-label {
    vertical-align: top;
}

td.no-wrap {
    white-space: nowrap;
}

/*
label {
    font-weight:    bold;
    white-space:    nowrap;
}
*/

.minor-content.venue-map {
    min-height: 350px;
    margin-top: 60px;
}

#main-content {
    margin-right:   20px;
}

li.col_left {
    float:          left;
    width:          45%;
    clear:          left;
}

li.col_right {
    float:          right;
    width:          45%;
    clear:          right;
}

li.approved {
    list-style-image: url(../img/approved.png);   /* Colorful Ubuntu Logo */
}

li.unapproved {
    list-style-image: url(../img/unapproved.png); /* Grey Ubuntu Logo */
}

ol.agenda-list, .agenda-list ol, .agenda-list li {
    padding: 2px 10px !important;
}

.relative {
    position: relative;
}

br.clear {
    clear:          left;
}

#main-content .object-detail {
    -moz-border-radius:    15px;
    -webkit-border-radius: 15px;

    border:         2px solid #ccc;
    border-bottom:  4px solid #bbb;
    border-right:   4px solid #bbb;
    border-top:     2px solid #ddd;
    min-height:     500px;
    text-align:     left;
}

#main-content .object-detail #options-left ul {
    position:       relative;
    left:           -60px;
}

#main-content .object-detail #options-right ul {
    position:       relative;
}

#main-content .object-detail #options-left li {
    float:          left;
    margin-left:    5px;
    display:        inline;
}

#main-content .object-detail #options-right li {
    float:          right;
    margin-right:   5px;
    text-align:     right;
    display:        inline;
}
    
#main-content .object-detail .option {
    width:           32px;
    height:          32px;
    display:         block;
    text-decoration: none;
}

#main-content .object-detail a.goback {
    background: transparent url('../img/goback.png')    no-repeat scroll top right;
}

#main-content .object-detail a.edit {
    background: transparent url('../img/edit.png')      no-repeat scroll top right;
}

#main-content .object-detail a.delete {
    background: transparent url('../img/delete.png')    no-repeat scroll top right;
}

#main-content .object-detail a.add-team-event {
    background: transparent url('../img/new_event.png') no-repeat scroll top right;
}

#main-content .object-detail a.add-comment {
    background: transparent url('../img/comment.png')   no-repeat scroll top right;
}

.resource {
    width:           32px;
    height:          32px;
    padding:         2px;
    margin-top:      4px;
    margin-bottom:   3px;
    float:           left;
    border:          1px white solid;
}

#main-content .resource:hover {
    border:          1px #eee solid;
}

#page-footer .container div.copyright {
    font-size:       0.75em;  
    line-height:     1.5em;
}

#page-footer .container div.loggedin {
    font-size:       0.75em;  
    line-height:     1.5em;
    float:           left;
    width:           400px;
    margin-bottom:   10px;
    margin-top:      5px;
}

#page-footer .container div.lang_switcher {
    font-size:       0.75em;  
    line-height:     1.5em;
    float:           right; 
    margin-bottom:   10px;
    margin-top:      5px;
    margin-right:    14px;
}

.team-event-nav {
    border-bottom:   1px gray solid;
    list-style:      none;
    padding:         1px 0px 1px 5px;
    margin:          5px 0px 5px 0px;
}

.team-event-nav li {
    list-style:      none;
    margin:          -1px 2px 0px 3px;
    padding:         0px;
    display:         inline; 
}

.message .content-shim {
    margin:                      0px; /* buffer the bulb in */
    padding:                     5px; /* un-suck the text */
    background-repeat:           no-repeat;
    background-image:            url(../img/infobox-icon.png);
    padding-left:                30px; /* infobox icon is 22x22 */
}

.message {
    width:                       70%;
    margin-left:                 auto;
    margin-right:                auto;
    background-color:            #FFFFB6;
    border-radius:               0px;
    box-shadow:                  0px 1px 1px #FFE4B6;
}

.message { /* noncss 3. XXX: remove me in 20 years. */
    -webkit-border-radius:       8px;
    -moz-border-radius:          8px;
    -moz-box-shadow:             0px 0px 1px #FFE4B6;
    -webkit-box-shadow:          0px 0px 1px #FFE4B6;
}

/* UI Errors ( To yell at the user when they don't fill out a form ) */

/*
ul.errorlist {
    margin:           0px;
    padding:          0px;
}

.errorlist li {
    color:            red;
    font-weight:      bold;
    display:          block;
    font-size:        1.1em;
    margin:           0px 0px 3px;
    padding:          4px 5px;
}
*/


/* Flickr Feed for Global Event */

.thumbs {
    margin:          0px;
    padding:         0px;
    overflow:        hidden;
}

.thumbs li {
    list-style:         none;
    float:              left;
    margin:             5px;
    padding:            3px;
    background:         #eee;
    -moz-box-shadow:    0px 0px 4px #444;
    -webkit-box-shadow: 0px 0px 2px #000;
}

.thumbs li a     { }
.thumbs li img   { display: block; }
.thumbs li a img { border: none;}

aside#top-nav {
    width:           980px;
}

header#page-header {
    width:           960px;
    margin:          0px auto;
    padding:         0px 10px;
    position:        relative;
}

footer#page-footer {
    width:           960px;
    margin:          0px auto;
    padding:         0px 10px;
    position:        relative;
}

#page-footer div.container { width: 940px; }



/*#venue-list ul,*/
.venue-list{
    overflow:auto;
}


.venue-list h3 {
    color: #333;
    padding: 10px 0px 10px 10px;
    background: white url(/ubuntu-website/media/images/dotted.png) repeat scroll 0px 0px;
    margin-bottom: 0;
}

.venue-list ul {
    display: block;
    float: left;
    list-style-image: none;
    list-style-type: none;
    padding: 4px 0px 5px 5px;
    text-indent: 0px;
    width: 915px;
    background-color:#F7F7F7;
}

.venue-list ul li {
    list-style-image: none;
    list-style-type: none;
    text-indent: 0px;
    width: 200px;
    margin-right: 22px;
    margin-bottom: 5px;
    padding-left: 5px;
    float: left;
    font-size:12px;
}

.venue-list ul li h3{
    padding: 0px;
    background:#f7f6f5;
    margin: 0px;
    color: #333;
    padding: 4px 0px;
}


.venue-list ul li p{
    font-size: 12px;
    line-height: 16px;
    margin: 0px;
    padding: 0px;
}

.venue-list ul li p a{
   border-bottom: 1px dotted #333;
   clear: both;
   display: block;
   float: none;
   padding: 5px 0px 3px;
}

#site_search_form {
    width: auto;
}
#site_search_form input#id_q {
    background-color: #F0F0F0;
    border: 1px solid #CCCCCC;
    height: 16px;
    margin: 7px 0 7px 9px;
    padding: 3px;
    width: 180px;
}

form[name="lang-switcher"] {
    width: auto;
}

select[name="lang"] {
    background: auto;
    border: auto;
    width: auto;
    height: auto;
    font-size: 1em;
    margin: 0;
}

/* TODO: date_begin and date_end should have class .small */
#id_date_begin_0, #id_date_begin_1, #id_date_end_0, #id_date_end_1 {
    width: 134px;
}
#id_date_begin_0:focus, #id_date_begin_1:focus, #id_date_end_0:focus, #id_date_end_1:focus {
    width: 132px;
}
/*
.form {
	width: 500px;
        float:left;
}

.form div{
        padding-top:2px;
        padding-bottom:2px;
}

.form div span.help{
        font-size:20px;
        color: #DD4814;
	cursor:pointer;
	vertical-align: top;
	display:inline;

}

.form input[type="text"], .form textarea, .form select {
	padding: 5px;
	width: 200px;
	margin: 0px 0px 5px 0px;
	border: 1px solid #ccc;
}

.form input[type="text"] {
	margin-right: 10px;
}

.form input[type="checkbox"] {
	width: 200px;
	height:35px;
	margin: 0px 0px 5px 0px;
}

.form div div.field {
        float: left;
	padding-top: 5px;
}

.form div.approved, .form div.approved_date, .form div.expires_date {
        height:30px;
}

.form span.extra {
        float: left;
	padding-top: 5px;
	font-size:0.8em;
}

.form div div.field label{
	float: left;
	padding-right: 10px;
	width: 170px;
	font-size: 0.8em;
	text-align: right;
        font-weight:normal;
}

.form div span.required { 	
        font-size:20px;
	color: red;
	margin-left:5px;
	vertical-align: top;
	display:inline;
}

.form textarea {
	height: 90px;
	width: 270px;
}


.form select:focus, .form textarea:focus, .form input:focus {
	border: 1px solid #900;
}

.form input.submit-button {
	padding-left: 20px;
	padding-right: 20px;
	float: right;
	margin-right: 50px;
}

.form ul.errorlist {
	margin: 0px;
	padding: 0px;
}

.form .errorlist li {
	color: red;
	font-weight: bold;
	display: block;
	font-size: 0.8em;
	margin: 0px 130px 3px;
	padding: 4px 5px;
}
*/

.attendee-cell {
	padding-top:10px;
}

.attendee-mugshot {
	vertical-align: middle;
}

.agenda-list {
    list-style-type: decimal;
}

.agenda-list .agenda-list {
    margin-left: 20px;
    list-style-type: lower-alpha;
}

.agenda-list .agenda-list .agenda-list {
    list-style-type: lower-roman;
}

.agenda-list .agenda-list .agenda-list .agenda-list {
    list-style-type: circle;
}

.agenda-title {
    font-weight: bold;
}

.agenda-description {
    margin-left: 30px;
    font-size: 0.9em;
}

#webchat {
    display: none;
    width: 900px;
    margin: 0 auto;
}

#ircchat {
    display: block;
    width: 900px;
    margin: 0 auto;
}

#locobranding {
    width: 96px; 
    height: 96px; 
    position: absolute; 
    right: 10px;
}

/* My Teams style */
h2.dynamic-width { 
    display: inline-block; 
    margin-bottom: 0; 
}

.resources { 
    font-size: 0.75em; 
    float: right; 
    margin-top: 21px;
}

.resources a {
    margin-left: 8px;
}

.photo a {
    display: inline-block; 
    padding: 7px;
}

.photo img {
    width: 75px;
}

.main-content-split {
    width:450px; 
    margin-top: 15px;
}

.main-content-split.left {
    float: left;
}

.main-content-split.right {
    float: right;
}

.main-content-split.left .title {
    font-size: 0.875em;
}

.main-content-split.left .new {
    float: right;
    font-size: 0.75em;
}

.event-summary {
    margin-top:15px;
}

hr.no-top {
    margin: 0 0;
}

img.bottom {
    vertical-align: bottom;
}

ul.indent {
    list-style: none;
    background-color: #F7F7F7;
    padding: 2px 2px 2px 15px;
}

ul.indent li {
    line-height:1.2em;
    margin: 0.5em 0;
}
