#!/usr/bin/make -f
%:
	dh $@ --builddirectory=_build

override_dh_auto_build:
	make latexpdf
	make html
	make singlehtml
	make epub

override_dh_compress:
	dh_compress -X usr/share/doc/ubuntu-packaging-guide/html/_sources/
