#!/usr/bin/make -f
%:
	dh $@ --builddirectory=_build

override_dh_auto_build:
	make latexpdf
	make html
	make singlehtml
	make epub

override_dh_compress:
	dh_compress -X usr/share/doc/ubuntu-packaging-guide/html/

override_dh_link:
	# symlink identical resources.
	for version in html epub pdf; do \
		cd debian/ubuntu-packaging-guide-$$version && LC_ALL=C fdupes -r1nq \
			usr/share/doc/ubuntu-packaging-guide-$$version/$$version | while read s; do \
			set -- $$(echo $$s | tr ' ' '\n' | sort); \
			f=$$1; shift; \
			for d; do \
				echo "symlinking identical file $$f to $$d"; \
				rm $$f; ln -s /$$d $$f; \
			done; \
		done; \
		cd -; \
	done;
	# use system copies of jquery and underscore instead.
	for filename in `find $$DEBIANDIR -wholename '*/_static/jquery.js'`; do \
		rm $$filename; \
		ln -s /usr/share/javascript/jquery/jquery.js $$filename; \
	done
	for filename in `find $$DEBIANDIR -wholename '*/_static/underscore.js'`; do \
		rm $$filename; \
		ln -s /usr/share/javascript/underscore/underscore.js $$filename; \
	done
	dh_link

override_dh_install:
	dh_install --list-missing
